<h2 class="text-center">User Database</h2>

<div class="container">
    <div class="col-lg-3">

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter Firstname" 
            [(ngModel)]="searchElement">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="search()">Search</button>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.age}}</td>
            <td>{{user.country}}</td>
          </tr>
        </tbody>
    </table>
    <p class="text-center" *ngIf="arraySize">User Not Found</p>
</div>