<h2 class="text-center mb-5">User Database</h2>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="input-group">
        <input id="userName" type="text" class="form-control" placeholder="Enter Firstname" [(ngModel)]="searchElement">
        <div class="input-group-append">
          <button id="submitButton" class="btn btn-outline-secondary" type="button" (click)="search()">Search</button>
        </div>
      </div>
      <small>Age>70</small>
      <br>
      <small>Users from US,Canada,India & Signapore</small>
    </div>

    <div class="col-lg-3">
      <button id="INUKButton" class="btn btn-outline-secondary" type="button" (click)="clone()">Find Users from India
        and
        Canada</button>
    </div>

    <div class="col-lg-3 text-center">
      <button id="sortByName" class="btn btn-outline-secondary" type="button" (click)="sortByName()">Sort by
        Name</button>
    </div>
    <div class="col-lg-3 text-center">
      <button id="sortByCountry" class="btn btn-outline-secondary" type="button" (click)="sortByCountry()">Sort by
        Country</button>
    </div>
  </div>

  <table id="table" class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.age}}</td>
        <td>{{user.country}}</td>
      </tr>
    </tbody>
  </table>
  <p id="userNotFound" class="text-center" *ngIf="arraySize">User Not Found</p>
</div>
